{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}


{% block title %}Modifie ton avatar !{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                {{ form_start(form) }}
                <div id="avatar">
                    {% if (user.avatar is null) or (user.avatar is empty) %}
                        <img class="img-fluid" src="{{ asset('build/images/icones/user.svg') }}">
                    {% else %}
                        <img class="img-fluid" src="{{ asset('uploads/' ~ user.avatar) }}">
                    {% endif %}

                    {{ form_label(form.avatar, 'Sélectionnez une image', ) }}
                    {{ form_widget(form.avatar) }}
                </div>
                {{ form_widget(form._token) }}
                <button type="submit" class="btn btn-primary w-100 mt-3">Valider</button>
                {{ form_end(form, {render_rest: false}) }}
            </div>
        </div>
    </div>
{% endblock %}