{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}


{% block title %}Bienvenue sur SnowTricks !{% endblock %}

{% block body %}
    <div class="container-fluid ps-0 pe-0">
        <div class="backgroundMain">
            <div class="titleMain d-flex justify-content-center align-items-center">
                <h1 class="display-3">Venez apprendre de nouvelles figures !</h1>
            </div>
        </div>
    </div>

    <section id="allTricks" class="d-flex justify-content-center mt-5 flex-wrap">
        {{ include ('trick/elements.html.twig') }}
    </section>

    {% if totalAllTricks > totalDisplayTricks %}
        <section id="moreTricks">
            <button tclass="btn btn-primary" id="loadMoreTricks">Plus de tricks</button>
            <input type="hidden" id="totalDisplayTricks" value="{{ totalDisplayTricks }}">
            <input type="hidden" id="totalAllTricks" value="{{ totalAllTricks }}">
            <input type="hidden" id="tricksPerLoading" value="{{ tricksPerLoading }}">
        </section>
    {% endif %}
{% endblock %}

