<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand text-white" href="{{ path('home')}}">SnowTricks</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link text-white" href="{{ path('home')}}">Accueil</a>
                    <a class="nav-item nav-link text-white" href="#">Tricks</a>
                    <a class="nav-item nav-link text-white" href="{{ path('app_register')}}">Inscription</a>
                    <a class="nav-item nav-link text-white" href="{{ path('app_login')}}">Connexion</a>
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}
    </body>
</html>
