{% extends 'base.html.twig' %}

{% block title %}Création d'un trick{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
   
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}

        {{ form_label(form.category) }}
        {{ form_widget(form.category) }}

        <button type="button" class="btn btn-primary" id="new-photo">Nouvelle photo</button>
        {{ form_label(form.photos) }}
        {{ form_widget(form.photos) }}

        <button type="button" class="btn btn-primary" id="new-video">Nouvelle video</button>
        {{ form_label(form.videos) }}
        {{ form_widget(form.videos) }}

        {{ form_rest(form) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
