{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}

<main class="pt-5 min-vh-100" id="mainShowTrick">
    <div class="container bg-white h-100 shadow rounded mb-5">
        <div class="row no-gutters h-100">
        <div class="col-12 position-relative ratio ratio-16x9">
            <img src="{{ asset("uploads/" ~ trick.cover.name) }}" alt="" class="rounded-top ratio ratio-16x9 z-1 w-100 position-absolute top-0 left-0">
            <h1 class="z-2 m-0 flex-shrink-0  d-flex justify-content-center align-items-center">Super figure de la mort</h1>
        </div>
    </div>

    <div id="seeMedias" class="row mt-4">
        <div class="col d-flex justify-content-center">
            <button id="buttonMedias" type="button" class="btn btn-primary w-50" data-bs-toggle="modal" data-bs-target="#modalMedias">
                Voir les medias
            </button>
        </div>
    </div>

    <div class="modal fade" id="modalMedias" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Medias</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row d-flex justify-content-center flex-column">
                        <div class="col-12 d-flex justify-content-center flex-column">
                            {% for photo in trick.photos %}
                                <div class="w-100 h-25 mt-1">
                                    <a class="d-block overlay" data-fslightbox="lightbox-basic" href="{{ asset("uploads/" ~ photo.name ) }}" >
                                        <img id="imageGallery" src ="{{ asset("uploads/" ~ photo.name ) }}">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center flex-column">
                        <div class="col-12 d-flex justify-content-center">
                            {% for video in trick.videos %}
                            
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="mediaTricks" class="row d-flex justify-content-center mt-4">
        <div class="col-lg-6 col-md-10 col-sm-12 d-flex justify-content-start">
            {% for photo in trick.photos %}
                <div class="w-100 h-25">
                    <a class="d-block overlay" data-fslightbox="lightbox-basic" href="{{ asset("uploads/" ~ photo.name ) }}" >
                        <img id="imageGallery" src ="{{ asset("uploads/" ~ photo.name ) }}">
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="col-lg-6 col-md-10 col-sm-12 d-flex justify-content-start">
            {% for video in trick.videos %}
                <div class="w-100 h-25">
                    <a data-fslightbox="gallery" href="{{ video.link }}">
                        <iframe
                            src="https://www.youtube.com/embed/{{ video.link }}"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row mt-5">
        <div class="d-flex justify-content-center">
            <div class="col-8">
                <p class="text-start">{{trick.description}}</p>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <p class="me-3"><small class="text-muted">{{trick.category.name}}</small></p>
            <p class="me-3"><small class="text-muted">Crée le {{trick.updatedAt|date('d/m/Y')}}</small></p>
            <p class="me-3"><small class="text-muted">Crée par {{trick.author}}</small></p>
            <p class=""><small class="text-muted">Mis à jour le {{trick.updatedAt|date('d/m/Y')}}</small></p>
        </div> 
    </div>
    {% if is_granted("ROLE_USER") %}
    <div class="row border-top border-bottom me-5 ms-5 pt-5 pb-5">
        <div class="col-12 d-flex justify-content-center formCommentary">
        {{ form_start(form) }}
            <div class="form-outline mb-4 me-4 d-flex justify-content-center addCommentary">
                <div class="w-100">
                    {{ form_widget(form.message, {'attr': {'class': 'form-control text-center'}}) }}
                </div>
                <div class="w-50 buttonCommentary">
                    <button type="submit" class="btn btn-primary ms-4 w-100">Laisser un commentaire</button>
                </div>
            </div>

        {{ form_end(form) }}
        </div>
    </div>
    {% endif %}
    <div class="row mb-4">
        <section id="allComments" class="row mt-5 d-flex justify-content-center p-0 m-0">
            <div class="col-lg-8 col-md-10 col-sm-12 d-flex flex-column justify-content-center">
                {{ include ('comment/elements.html.twig') }}
            </div>
        </section>
    </div>
    <div class="row">
        {% if totalAllComments > totalDisplayComments %}
        <section class="d-flex justify-content-center" id="moreComments">
            <button class="btn btn-primary mt-5" id="loadMoreComments">Plus de commentaires</button>
            <input type="hidden" id="totalDisplayComments" value="{{ totalDisplayComments }}">
            <input type="hidden" id="totalAllComments" value="{{ totalAllComments }}">
            <input type="hidden" id="commentsPerLoading" value="{{ commentsPerLoading }}">
            <input type="hidden" id="idTrick" value="{{ trick.id }}">
        </section>
        {% endif %}
    </div>
  </div>
</main>

{% endblock %}