{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{trick.name}}</h5>
                 
                    <p class="card-text">{{trick.description}}</p>
                    <p class="card-text"><small class="text-muted">{{trick.author}}</small></p>
                    <p class="card-text"><small class="text-muted">{{trick.updatedAt|date('d/m/Y')}}</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <section id="allComments" class="d-flex justify-content-center mt-5 flex-wrap">
            {{ include ('comment/elements.html.twig') }}
        </section>
    </div>
    <div class="row">
        {% if totalAllComments > totalDisplayComments %}
        <section class="d-flex justify-content-center" id="moreComments">
            <button class="btn btn-primary" id="loadMoreComments">Plus de commentaires</button>
            <input type="hidden" id="totalDisplayComments" value="{{ totalDisplayComments }}">
            <input type="hidden" id="totalAllComments" value="{{ totalAllComments }}">
            <input type="hidden" id="commentsPerLoading" value="{{ commentsPerLoading }}">
            <input type="hidden" id="idTrick" value="{{ idTrick }}">
        </section>
        {% endif %}
    </div>
{% endblock %}
